    <div class="jumbotron" ng-app="libraryApp" ng-controller="mainController">
        <h1>You loaded this page at {{currentTime}} </h1>
        <div>
            <div ng-repeat="book in books track by $index">
                {{book.Title}}, written by {{ book.Author.Name}}, Genre: {{book.Genre.Name}}
            </div>
        </div>
    </div>
